<p id="notice"><%= notice %></p>

<div class="row">
	<div class="col-md-12">
		<div class="well">
			<p><%= image_tag @artist.avatar.url(:medium) %></p>
			<h1><%= @artist.name %></h1>
			<% @artist.songs.each do |song| %>
				<h3><%= link_to song.name, song %></h3>
			<% end %>
			<%= link_to 'Edit', edit_artist_path(@artist) %> 
			<%= link_to 'Back', artists_path %>
		</div>
	</div>
</div>



